[Unit]
 Description=Netfilx Unblocker
 ConditionPathExists=/etc/netflix-agent/
 After=network-online.target

[Service]
 Type=simple
 ExecStart=/usr/local/bin/netflix-agent
 TimeoutSec=0
 StandardOutput=syslog
 RemainAfterExit=no
 User=root
 Group=root


[Install]
 WantedBy=multi-user.target

